.logo-desktop {
	width:182px;
}

.logo-desktop.large {
	width:320px;
}

.nav {
	display:flex;
	flex-direction:row;
	padding:25px 2.5rem 10px 9px;
	justify-content:space-between;
	min-height:150px;
}

.nav-text {
	font-family: var(--font-ui);
	font-weight:500;
	color:var(--text);
	text-decoration:none;
	margin-top:0.25rem;
}

.nav-left {
	display:flex;
	align-items:center;
	column-gap:1rem;
}

.login-link {
	font-family: var(--font-ui);
	font-weight:500;
	background:var(--surface);
	border-radius:4rem;
	border:1px solid;
	padding:0.75rem 1.5rem;
	color:var(--text-strong);
	text-decoration:none;
	transition:0.4s;
	display:flex;
	justify-content:center;
}

.login-link.signup {
	color:var(--btn-text);
	background:var(--btn-bg);
}

.login-link.signup.desktop {
	width:50%;
	padding:0.9rem 1rem;
	font-size:20px;
	border:1px solid var(--text-strong);
	transition:0.2s;
}

.login-link.signup.desktop:disabled {
	background:var(--brand);
	color:var(--brand);
	border-color:var(--brand);
	transition:0.2s;
	cursor:default;
}

.login-link.signup.login {
	width:38%;
	align-self:center;
	font-size:1rem;
	margin-top:1rem;
	transition:0.2s;
}

.login-link.signup.login:disabled {
	background:var(--surface);
	color:var(--text-strong);
	transition:0.2s;
	cursor:default;
}

.nav-right {
	display:flex;
	align-items:center;
	column-gap:1rem;
	margin-top:0.25rem;
}

.login-link.signup:hover {
	background-color:var(--btn-hover);
	cursor:pointer;
}

.login-link:hover {
	background-color:#D4D3D2;
	cursor:pointer;
}

@media (max-width:768px) {
	.logo-desktop {
		width:150px;
	}

	.nav {
		align-items:center;
		column-gap:0.25rem;
		padding:25px 6px 10px 9px;
		min-height:0px;
	}

	.nav-right {
		column-gap:0.25rem;
		text-align:center
	}

	.login-link {
		padding:0.5rem 1.25rem;
	}
}
