.stocks-left {
	display:flex;
	flex-direction:column;
	flex:1;
	row-gap:1.5rem;
}

.stocks-right {
	display:flex;
	flex-direction:column;
	width:400px;
	row-gap:2rem;
}

.stock-heading-container {
	display:flex;
	column-gap:0.5rem;
	align-items:center;
	padding:8px 8px 6px 8px;
}

.stock-heading-price {
	display:flex;
	flex-direction:column;
	row-gap:1rem;
}

.stock-price-container {
	display:flex;
	align-items:center;
	font-family: var(--font-body);
	margin-left:8px;
	column-gap:4px;
	opacity:0;
	transition:100ms opacity;
}

.stock-price-container.loaded {
	opacity:1;
}

.stock-name-two {
color:var(--text-muted);
font-family: var(--font-body);
opacity:0;
}

.stock-price-currency.negative {
	color:var(--negative)
}

.stock-price-currency.positive {
	color:var(--positive)
}

.stock-name-two.loaded {
	opacity:1;
}

.position {
	display:flex;
	flex-direction:column;
	row-gap:1rem;
}

.position-two {
	display:flex;
	flex-direction:column;
	row-gap:1rem;
}

.market-data {
	display:flex;
	flex-direction:column;
	row-gap:0.5rem;
}

.market-data-container {
	display:flex;
}

.company-data {
	display:flex;
	flex-direction:column;
	row-gap:1.5rem;
}

.company-data-container {
	display:flex;
}

.data-name {
	font-family: var(--font-display);
}

.data-value {
	font-family: var(--font-body);
	font-weight:200;
	opacity:0;
	transition:opacity 100ms ease-in;
	min-height:22px;
}

.data-value.loaded {
	opacity:1;
}

.market-data-container > div {
	flex:1;
}

.company-data-container > div {
	flex:1;
}

.stock-description {
	display:flex;
	flex-direction:column;
	row-gap:1.5rem;
}
