.buy-sell-button {
	font-size: 1.5rem;
	font-family:Futura;
	background: none;
	border: none;
	padding: 1rem 0.5rem;
	cursor: pointer;	 
	border-radius: 0.5rem; 
}

.bs-text-parent {
	position:relative;
}

.buy-sell-button:hover {
	background-color: #f2f2f2;
}
	

.buy-sell-text.active::after {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 3px;
	background-color: rgb(50, 48, 47);
	
}
	
.bs-parent-container {
	position:fixed;
	width:400px;
	
	display:flex;
	flex-direction:column;
	gap:1.75rem;
		
	padding:1.5rem;
	border: 1px solid rgb(228, 226, 225);
  	border-radius: 1.5rem;
  	background-color: white;
  	font-family:Futura;
  	color:rgb(50, 48, 47);
		
}

.bs-parent-container.two {
	gap:1.5rem;
}

.bs-gap-container {
	display:flex;
	flex-direction:column;
	gap:1.75rem;
}
	
.bs-containers {
	display:flex;	
}
	
.bs-width-wrapper {
	width:50%;
}
	
.bs-button-container {
	display:flex;
	column-gap:0.5rem;
}
	
.bs-shares-wrapper {
	display:flex;
	align-items:center;
	width:49.75%;
}
	
.shares-input {
	border-radius:0.5rem;
	padding:6px 8px 6px 8px;
	border:1px solid rgb(228, 226, 225);
	font-family:futura;
	font-size:16px;
	width:80%;
}

.bs-next-parent {
	display:flex;
	flex-direction:column;
	row-gap:1.5rem;
}

.shares-input-form {
	flex:1;
}

.shares-input:hover {
	border-color:rgb(50, 48, 47);
}

.shares-input:focus {
	border-color:rgb(50, 48, 47);
	outline:1px solid rgb(50, 48, 47);
}

	
.next {
	background:rgb(50, 48, 47);
	border:1px solid;
	border-radius:4rem;
	min-height:2rem;
	width:100%;
	padding:1rem;
	color:white;
	transition:0.2s
}


.next:hover {
	background-color:#535250;
	cursor:pointer;
}

.next.submitting:disabled {
	cursor:wait;
}

.next:disabled {
	background:white;
  	color:rgb(50, 48, 47);
	cursor:not-allowed;
}
	
.bs-back-button {
	display:flex;
	width:100%;
	background:none;
	border:none;
  	font-family:Futura;
  	color:rgb(50, 48, 47);
	font-size:100%;
	border-radius:0.5rem;
	padding:0.25rem 0rem 0.25rem 0rem;
	align-items:center;
	
}
.bs-back-button:hover {
	background-color: #f2f2f2;	
}

.bs-line {
	border: none;
	height: 1px;
	background: rgb(50, 48, 47);
}

.bs-success {
	line-height:1.4;
}

.bs-success-text {
	font-size:24px;
}

.back-arrow {
	font-size:24px;
}

.est-cost {
	white-space:nowrap;
	}	