.dc-home-parent {
	padding:1rem 0.75rem 0.75rem 0.75rem;
	display:flex;
}

.navbar {
	display:flex;
	gap:1rem;
	background-color:#EAECEF;
	padding:0.75rem;
	align-items:center;
	justify-content:space-between;
}

.dc-home-left {
	width:20%;
}

.dc-home-right{
	display:flex;
	flex:1;
	flex-direction:column;
	row-gap:0.5rem;
}

.catlas-text {
	font-family:avenir;
	text-decoration:none;
	font-size:24px;
	font-weight:500;
}

.catlas-text:visited {
  text-decoration: none;
  color: inherit;
}

.side-button {
	font-family:BlinkMacSystemFont;
	font-weight:400;
	text-decoration:none;
	font-size:18px;
	padding:0.25rem;
	color:#424770;
}

.side-button-active {
	font-family:BlinkMacSystemFont;
	font-weight:400;
	padding:0.25rem;
	color:#A78BFA;
	text-decoration:none;
	font-size:18px;
}

.endpoint-header-container {
	display:flex;
}

.sidebar-button-container {
	padding-left:0.5rem;
	row-gap:0.5rem;
	display:flex;
	flex-direction:column;
}

.sidebar-button-container.two {
	padding:1rem;
}

.dc-overview {
	display:flex;
	flex:1;
	background-color:white;
	border-radius:0.5rem;
	flex-direction:column;
	row-gap:1rem;
	box-shadow:rgba(0,0,0,0.06) 0px 0px 2px 1px;
	border:1px solid #ECEDEE;
	opacity:0;
	transition:opacity 150ms;
}

.dc-overview.loaded {
	opacity:1;
}

.dc-cell {
	padding:1rem 1rem;
	border-bottom:1px solid rgb(233,236,239);
	cursor:pointer;
}

.dc-table {
	border-collapse:separate;
	border-spacing:0px;
	table-layout: fixed;
}

.dc-cell:nth-child(1) {
	width: 60%;
}

.dc-cell:nth-child(2) {
	width: 20%;
}

.dc-cell:nth-child(3) {
	width: 20%;
}

.dc-pagination-container {
	display:flex;
	justify-content:space-evenly;
	font-family:BlinkMacSystemFont;
	color:rgb(64,68,82);
	padding-bottom:1rem;
}

.dc-row-heading {
	text-align:left;
	font-family:BlinkMacSystemFont;
	color:rgb(64,68,82);
	font-weight:400;
	padding:1rem;
	border-bottom:1px solid rgb(233,236,239);
}

.dc-row-heading:hover {
	background-color:#EAECEF;
}

.dc-row-heading-asc {
	text-align:left;
	font-family:BlinkMacSystemFont;
	color:rgb(64,68,82);
	font-weight:400;
	padding:1rem;
	border-bottom:1px solid rgb(233,236,239);
    box-shadow: rgba(0,0,0,0.6) 0px -3px 0px 0px inset;
	user-select: none;
}

.dc-row-heading-desc {
	text-align:left;
	font-family:BlinkMacSystemFont;
	color:rgb(64,68,82);
	font-weight:400;
	padding:1rem;
	border-bottom:1px solid rgb(233,236,239);
    box-shadow: rgba(0,0,0,0.6) 0px 3px 0px 0px inset;
	user-select: none;
}

.dc-row {
	text-align:left;
	font-family:BlinkMacSystemFont;
	color:rgb(64,68,82);
	font-weight:400;
}

.dc-row:hover {
	background-color:#EAECEF;
}

.trace-details {
	display:flex;
	flex-direction:column;
	row-gap:0.75rem;
	font-family:BlinkMacSystemFont;
	color:rgb(64,68,82);
	font-weight:400;
}

.call-breakdown {
	display:flex;
	flex-direction:column;
	row-gap:1rem;
}

.trace-breakdown {
	font-family:BlinkMacSystemFont;
	color:rgb(64,68,82);
	font-weight:400;
	display:flex;
	flex-direction:column;
	row-gap:10px;
}

.dc-back-button {
	background:none;
	border:none;
	text-align:left;
  font-size:100%;
  padding:0rem 0.5rem;
  border-radius:4rem
}

.dc-back-button:hover {
	background-color:#EAECEF;
}

.dc-side-header-container {
	display:flex;
}

.dc-back-button-container {
	display:flex;
	flex:0.95;
	justify-content:end;
}
