.home {
	display:flex;
	flex-direction:row;
	padding:1rem 2.5rem 2rem 1rem;
	column-gap:1.5rem;
	opacity:0;
	transition:80ms ease-in;
}

.home.loaded {
	opacity:1;
	transition:80ms ease-in;
}

.home.two {
	padding:15px 2.5rem 2rem 1rem;
	transition:80ms ease-in;
	opacity:1;
}


.home-right {
	display:flex;
	flex-direction:column;
	width:400px;
	row-gap:2rem;
}

.home-left {
	display:flex;
	flex-direction:column;
	flex:1;
	row-gap:1.5rem;
}

.holdings {
	font-family:Avenir;
}

.chart {
	height:36vh;
}

.portfolio-value {
	font-family:Avenir;
	color:rgb(50, 48, 47);
}

.port-value {
	display:flex;
}

.balance-container {
	display:flex;
	border:1px solid rgb(228, 226, 225);
	padding:1.5rem;
	box-shadow:rgba(0, 0, 0, 0.06) 0px 0px 2px 1px;
	border-radius:1rem;
	background-color:white;
	font-family:avenir;
}

.recharts-default-tooltip {
	align-items:center;
	font-family:avenir;
}

.chart svg {
  outline: none
}

@media (max-width:768px) {
	.home {
		flex-direction:column;
		row-gap:2rem;
	}

	.nav-auth {
		flex-direction:column;
		row-gap:0.5rem;
	}

	.home-right {
		row-gap:1rem;
	}
}
