.howto-main {
	display:flex;
	flex-direction:column;
	flex:1;
	background-color:#f0eee6
}

.howto-header {
	font-family:Avenir;
	font-weight:600;
	font-size:1.5rem;
	margin-top:65px;
}

.howto-header.four {
	margin-top:30px;
}

.howto-body {
	font-family:avenir;
	font-size:24px;
	display:flex;
	flex-direction:column;
	row-gap:0.5rem;
}

.howto-parent {
	display:flex;
	flex-direction:column;
	margin-left:75px;
	row-gap:32.5px;
}

.howto-parent.four {
	row-gap:30px;
}

.howto-create {
	color:inherit;
	text-decoration:none;
}

.four-main {
	display:flex;
	flex-direction:column;
	flex:1;
}
	