.positions-table {
	border:1px solid rgb(228, 226, 225);
	border-radius:1rem;
	padding:0rem 1rem;
	background:white;
  max-height: 375px;
  overflow-y: auto;
	}

.portfolio {
	width:100%;
	font-family: Avenir, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	border-collapse:separate;
	background-color:white;
	border-spacing: 0 16px;
}

.portfolio th {
	border-bottom:1px solid rgb(228, 226, 225);
	text-align:left;
	padding-bottom:0.5rem;
}

.shares-cell {
	border-radius:0px;
}

.portfolio-row:hover {
	background-color:#F5F5F5;
}

.portfolio-row-two {
	opacity:0;
	transition:opacity 80ms ease-in;
}

.portfolio-row-two.loaded {
	opacity:1;
	transition:opacity 80ms ease-in;
}

.portfolio-row-two:hover {
	background-color:#F5F5F5;
}


.symbol-name {
	display:flex;
  text-decoration: none;
  flex-direction:row;
  gap:8px;
   align-items: center;
   color:inherit;
   padding:8px;
   cursor:pointer;
}

.stock-symbol {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.stock-text {
	display:flex;
	flex-direction:column;
}

.stock-name {
color:rgb(97, 94, 92);
font-family: Avenir, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.stock-name.negative {
	color:#D8726F
}

.stock-name.positive {
	color:#4A7812
}

.stock-shares {
color:rgb(97, 94, 92);
font-family: Avenir, "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
animation: fadeIn 100ms ease-out;
}

.heading-row {
  position: sticky;
  top: 0;
  background-color: white;
}

.quantity-header:nth-child(1){width:41%;}
.quantity-header:nth-child(2){width:29%;}
.quantity-header:nth-child(3){width:29%;}

.quantity-header-one:nth-child(1){width:47.5%;}
.quantity-header-one:nth-child(2){width:15%;}
.quantity-header-one:nth-child(3){width:12.5%;}
.quantity-header-one:nth-child(4){width:12.5%;}
.quantity-header-one:nth-child(5){width:12.5%;}
