.logo-desktop {
	width:182px;
}

.logo-desktop.four {
	width:320px;
}

.nav {
	display:flex;
	flex-direction:row;
	padding:1.5rem 2.5rem 10px 9px;
	justify-content:space-between;
}

.nav-text {
	font-family:BlinkMacSystemFont;
	font-weight:500;
	color:#32302f;
	text-decoration:none;
	margin-top:0.25rem;
}

.nav-left {
	display:flex;
}

.login-link {
	font-family:BlinkMacSystemFont;
	font-weight:500;
	background:white;
	border-radius:4rem;
	border:1px solid;
	padding:0.75rem 1.5rem;
	color:black;
	text-decoration:none;
	transition:0.4s;
	display:flex;
	justify-content:center;
}

.login-link.signup {
	color:white;
	background:rgb(50, 48, 47);
}

.login-link.signup.desktop {
	width:50%;
	padding:0.9rem 1rem;
	font-size:20px
}

.login-link.signup.howto {
	width:25%;
	padding:1.1rem 1.25rem;
	font-size:20px;
}

.nav-right {
	display:flex;
	align-items:center;
	column-gap:1rem;
	margin-top:0.25rem;
}

.login-link.signup:hover {
	background-color:#535050;
}

.login-link:hover {
	background-color:#D4D3D2;
	
}
