.welcome-main-desktop {
	display:flex;
	flex-direction:column;
	flex:1;
	justify-content:center;
	align-items:center;
	background-color:#AFD8DF;
}

.welcome-heading-desktop {
	color:rgb(50, 48, 47);
	font-family:avenir;
	font-size:3rem;
	padding:3rem;
}

.welcome-start-desktop {
	width:25%;
	display:flex;
	justify-content:center;
	
}

.gh {
	display:flex;
	justify-content:end;
	position:absolute;
	bottom:2.5rem;
	right:2.5rem;
}